.topnav {
  background-color: #320987;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.heading{
    font-size: 30px;
    font-weight: bolder;
    text-transform:uppercase ;
}

.intro{
    background-color:rgb(97, 97, 241);
    color: white;
    padding-left:16px;
    padding-bottom:8px;
    margin-bottom:4px;
}

body{
    font-family: 'Gill Sans', Calibri, 'Trebuchet MS', sans-serif
}
img{
    float: right;
    
  border-radius: 60%;

}
.icon{
    float: left;
    color: #2F5A78;
}
.prof{
    font-size: 20px;
    font-weight: lighter;
}

.contactinfo{
    font-size: 15px;
    padding-left:16px;
    padding-top:6px;
    padding-bottom:6px;
    background-color:#eeeeee;
}

.subheading{
    font size: 20px;
     font-weight: bolder;
     color: #2F5A78;
     text-transform:uppercase ;
}

.icon{
    color: #2F5A78;
}

.date{
    font-size: 16px;
    color: #2F5A78;
    font-weight: bold;
}

.skills ul li{
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    margin-left: -15px;
    
    font-size: 15px;
    padding-left:16px;
    padding-top:6px;
    padding-bottom:6px;
    background-color:#eeeeee;
}

.skills ul li .skill_prog{
    width: 60%;
    height: 5px;
    position: relative;
}
.skills ul li .skill_prog span{
    position: absolute;
    height: 100%;   
    background: #2F5A78;
    padding-right: 50px;
}
.skill_name{
    width: 4px;
}
.skill_per{
    margin-right: 15px;
} 

.social{
background-color:rgb(97, 97, 241);
    color: white;
    padding-left:16px;
    padding-bottom:26px;
    margin-bottom:4px;
}
